package {{package}};

{{#imports}}
import {{.}};
{{/imports}}
import org.springframework.web.bind.annotation.*;

@RestController
@RequestMapping("/{{lowerName}}s")
public class {{name}}Controller {

@PostMapping
public void create(@RequestBody {{dtoName}} dto) {
// call command handler or application service
}

@GetMapping
public List<{{dtoName}}> getAll() {
// call query handler
return List.of();
}

@GetMapping("/{id}")
public {{dtoName}} getById(@PathVariable {{idType}} id) {
// call query handler
return null;
}

@PutMapping("/{id}")
public void update(@PathVariable {{idType}} id, @RequestBody {{dtoName}} dto) {
// call command handler or application service
}

@DeleteMapping("/{id}")
public void delete(@PathVariable {{idType}} id) {
// call command handler or application service
}
}
