package {{package}};

{{#imports}}
import {{.}};
{{/imports}}

@Component
public class Create{{name}}CommandHandler {

@CommandHandler
public void handle(Create{{name}}Command command) {
// TODO: implement command handling logic
}
}
