package {{package}};

{{#imports}}
import {{.}};
{{/imports}}

import org.springframework.data.annotation.Id;
import org.springframework.data.relational.core.mapping.Table;

import lombok.AllArgsConstructor;
import lombok.Getter;
import lombok.NoArgsConstructor;
import lombok.Setter;

import java.util.Date;

@Getter
@Setter
@AllArgsConstructor
@NoArgsConstructor
@Table("{{table}}")
public class {{name}}{

@Id
private String id;
{{#fields}}private   {{type}} {{name}};
{{/fields}}

}
