package {{package}};

{{#imports}}
import {{.}};
{{/imports}}

public class {{name}}Mapper {

public static {{name}}Response toResponse({{name}} entity) {
return new {{name}}Response(
{{#fields}}            entity.{{name}}(){{^last}},{{/last}}
{{/fields}}
);
}

public static {{name}} toEntity({{name}}Request request) {
return new {{name}}(
{{#fields}}            request.{{name}}(){{^last}},{{/last}}
{{/fields}}
);
}
}
